//============================
//    	Name: PARAMS
//============================
__node = '../../../node_modules/'
__tmp = '../../tmp/'

//============================
//    	Name: PX TO REM
//============================
@import __node + 'stylus-px2rem'

//============================
//    	Name: COLORS
//============================
@import 'setting/colors'

//============================
//    	Name: FONTS
//============================
@import 'setting/fonts'

//============================
//    	Name: CONFIG
//============================
@import 'setting/config'

//============================
//    	Name: PLUGINS
//============================
@import 'setting/buttons'
@import 'setting/owlcarousel'

//============================
//    	Name: ICONS
//============================
@import __tmp + 'svg-symbols'
@import 'setting/glyphs'

//============================
//    	Name: BUTTONS
//============================
@import 'setting/buttons'

//============================
//    	Name: ANIMATION
//============================
@import 'setting/animation'

//============================
//    	Name: MODULES
//============================
@import 'modules/move-scroll-up'

//============================
//    	Name: PAGES
//============================
@import '404/web-404'

@import 'pages/header'
@import 'pages/footer'
@import 'pages/web-main'


//============================
//     	Name: Preload hack
//============================
html,body {
	visibility: visible;
	opacity: 1;
}