//============================
//    	Name: SVGICONS
//============================
for i in 1 .. 5 {
	.glyphs__hero-icons-{i} {
		width 100px
		height 100px
		fill $$aqua
	}
}

for i in 1 .. 4 {
	.glyphs__footer-social-{i} {
		width 25px
		height 25px
		fill: #d8d8d8;
	}
}

glyphs {
	+__() {
		.hero-icons-4 {
			fill $$null
			stroke: $$aqua;
		}
		.simple-arrow-left {
			glyph: $simple-arrow-left$;
			width: 27px;
			height: 17px;
			fill: $$null;
			stroke: #888888;
		}
		.arrow-down {
			glyph: $arrow-down$;
			width: 20px;
			height: 20px;
			fill: $$null;
			stroke: #d5d5d5;
		}
		.arrow--rotate {
			transform rotate(180deg)
		}
		.facebook,
		.googleplus,
		.vk {
			glyph: $vk$;
			width: 1rem;
			height: 1rem;
			fill: $$aqua;
			stroke: $$null;
		}
		.d-scrollup {
			glyph: $d-scrollup$
			transform scale(0.6)
			margin auto
		}
		.shopping-cart {
			glyph: $shopping-cart$;
			width: 25px;
			height: 25px;
			fill: $$aqua;
		}
		.checked {
			glyph: $checked$;
			width: 15px;
			height: 15px;
			fill: $$null;
			stroke: #fff;
			transform: translate(0, 3px);
		}
		.checked--mini {
			glyph: $checked$;
			width: 15px;
			height: 15px;
			fill: $$null;
			stroke: $$aqua;
			transform: translate(0, 3px);
		}
		.percent {
			glyph: $percent$;
			width: 1rem;	
			height: 1rem;
			fill: #fff;
			stroke: #fff;
		}
		.gift {
			glyph: $gift$;
			width: 1rem;
			height: 1rem;
			fill: #fff;
			stroke: $$null;
		}
		.search {
			glyph: $search$;
			width: 19px;
			height: 19px;
			fill: $$null;
			stroke: #fff;
		}
	}
}